In [1]:
## Write a recursive function to print first n natural numbers

In [18]:
def print_n(n):
    if n>0:
        print_n(n-1)
        print(n)

print_n(10)

1
2
3
4
5
6
7
8
9
10

In [24]:
## Write a recursive function to print first n natural numbers in reverse order

In [54]:
def print_n_reverse(n):
    if n>0:
        print(n)
        print_n_reverse(n-1)

print_n_reverse(10)

10
9
8
7
6
5
4
3
2
1

In [55]:
## Write a recursive function to print first n odd natural numbers

In [51]:
def print_odd(n):
    if n > 0:
        print_odd(n-1) 
        print(2*n - 1) 
print_odd(10)

1
3
5
7
9
11
13
15
17
19

In [41]:
## Write a recursive function to print first n odd natural numbers in reverse order

In [56]:
def print_odd_reverse(n):
    if n > 0:
        print(2*n - 1) 
        print_odd_reverse(n-1) 
print_odd_reverse(10)

19
17
15
13
11
9
7
5
3
1

In [ ]:
## Write a recursive function to print first n ever natural numbers

In [58]:
def print_even(n):
    if n > 0:
        print_even(n-1) 
        print(2*n) 
print_even(10)

2
4
6
8
10
12
14
16
18
20

In [48]:
## Write a recursive function to print first n odd natural numbers in reverse

In [57]:
def print_even_reverse(n):
    if n > 0:
        print(2*n) 
        print_even_reverse(n-1) 
print_even_reverse(10)

20
18
16
14
12
10
8
6
4
2

In [52]:
## Write a recursive function to calculate sum of first n natural numbers.

In [67]:
def sum_natural(n):
    if n==1:
        return(1)
    else:
        s=n+sum_natural(n-1)
        return(s)

print(sum_natural(3))

6

In [63]:
## Write a recursive function to calculate sum of first n odd natural numbers.

In [71]:
def sum_odd(n):
    if n==1:
        return(1)
    else:
        s=2*n-1+sum_odd(n-1)
        return(s)

print(sum_odd(3))

9

In [72]:
## Write a recursive function to calculate sum of first n even natural numbers.

In [74]:
def sum_even(n):
    if n==1:
        return(2)
    else:
        s=2*n+sum_even(n-1)
        return(s)

print(sum_even(3))

12

In [76]:
## Write a recursive function to calculate factorial of n natural numbers.

In [75]:
def factorial(n):
    if n==1:
        return(1)
    else:
        s=n*factorial(n-1)
        return(s)

print(factorial(3))

6

In [77]:
## Write a recursive function to calculate the sum of square of n natural numbers

In [80]:
def square(n):
    if n==1:
        return(1)
    else:
        s=n*square(n-1)
        return(s)

print(square(4))

24